@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light !important;
  }
}
html,
body,
:root {
  height: 100%;
  font-family:'Nunito', 'system-ui'
}
  
.error-message {
  @apply text-rose-500 text-sm
}

.dp__menu {
  border: none !important;
}

.dp__outer_menu_wrap {
  margin: 0 auto !important; 
}
