@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light !important;
  }
}
html,
body,
:root {
  height: 100%;
  font-family:'Nunito', 'system-ui'
}
  
.error-message {
  @apply text-rose-500 text-sm
}

.dp__menu {
  border: none !important;
}

.dp__outer_menu_wrap {
  margin: 0 auto !important; 
}

.dp__today, .dp__range_end, .dp__range_start  {
  border: 1px solid rgb(244 63 94 / 1) !important;
  background: rgb(244 63 94 / 1) !important;
  color: white
}

  
.gradient {
  background-image: linear-gradient(
    to right,
    #e61e4d 0%,
    #e31c5f 50%,
    #d70466 100%
  );
}
