@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light !important;
  }
}
html,
body,
:root {
  height: 100%;
  font-family:'Nunito', 'system-ui'
}
  
.error-message {
  @apply text-rose-500 text-sm
}


  
.gradient {
  background-image: linear-gradient(
    to right,
    #e61e4d 0%,
    #e31c5f 50%,
    #d70466 100%
  );
}
 
.country-selector, .p-dropdown-filter {
  box-shadow: none !important; 
}

.country-selector:hover, .p-dropdown-filter:focus, .p-dropdown-filter:hover { 
  border-color:  rgb(203, 213, 225) !important;
}

.p-dropdown-item.p-highlight {
  background-color: rgb(253, 236, 236) !important;
  color: #000;
}